/* CSS Document */

.content {
	width:100%;
	height:auto;
	border: 3px solid #73AD22;
}

#me_pic {
	width:100%
}
div{
		font-family: montserrat, sans-serif;

	font-weight: 100;

	font-style: normal;
}
